/* подключаем шрифт*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    /*внешний отступ*/
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    max-width: 100%;
}
.wrapper {
    background-color: #ba181b;
}
header.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center; /* Центр по вертикали */
    justify-content: space-between; /* Лого слева, меню справа */
    height: 80px; /* Можно настроить по нужной высоте */
    box-sizing: border-box;

}
header{
    padding: 50px 0;
}
header.logo{
    text-transform: center;
    font-weight: 195px;
}
nav{
    float: right;
    width: 50%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding-top: 15px;
}

/*блок со списком*/
.features{
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
    height: 600px;
}

/*блок гарантии*/
.info-panel{
    display: flex; /* Располагаем блоки в строку */
    justify-content: space-around; /* Равномерно распределяем пространство */
    align-items: center; /* Центрируем по вертикали */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc; /* Тонкая рамка */
    font-family: sans-serif;
}

/* Каждый информационный блок */
.info-item{
    display: flex;
    align-items: center;
    gap: 10px; /* Отступ между иконкой и текстом */ 
    text-align: left;
    max-width: 200px;
}

.info-item srtong{
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    color: black;
}

.info-item div{
    font-size: 14px;
    color: #444;
}

h2{
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    margin: 0;
}

/*Секция с товаром*/
.product-list{
    display: flex;
    flex-wrap: wrap; /* Перенос строк при нехватке ширины */
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    background: url('../img/background2.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

/* Каждая карточка товара */
.product-item{
    background-color: #fff;
    border: 1px solid #ddd;
    width: calc(25% - 20px);  /* 4 товара в ряд, с учетом отступов */
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;  /* Располагаем элементы вертикально (сверху вниз) */
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

/* Изображение товара */
.product-item img{
    max-width: 100%;
    height: auto;
    object-fit: contain;  /* Изображение целиком вписывается в блок, не обрезается */
}


.product-info {
    background-color: #660708 ;
    width: 100%;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    


}
